/* font-family: 'Open Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oxygen', sans-serif; */

.App {
  text-align: center;
}

.forms-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.login-forms input {
  margin-bottom: 1em;
}

.countdownContainerGrid {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(3, 33.33%);
  justify-items: center;
}

.countdownContainerGrid2 {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(2, 50%);
  justify-items: center;
}
.countdownContainerGrid1 {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.addEventBtn {
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 2em;
  width: 200px;
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
  background: #43cea2;
  transition: 1s;
}

.eventContainer {
  width: 500px;
  height: 250px;
  margin-bottom: 2em;
  border-radius: 50px;
  box-shadow: 0px 0px 30px 5px grey;
}

.textContainer {
  bottom: 250px;
  position: relative;
  background: #43cea2;
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
  background: linear-gradient(to right, #185a9d, #43cea2);
  width: 500px;
  height: 250px;
  border-radius: 50px;
  overflow: hidden;
}

.textContainer img {
  transition: .1s;
  width: 30px; 
  height: auto;
  filter: invert(100%);
  position: absolute; 
  top: 10%;
  left: 6%;
  z-index: 1;
  cursor: pointer;
}

.textContainer img:hover {
  width: 33px;
  top: 9.6%;
  left: 5.75%;
}

.text {
  position: absolute;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  color: white;
}

.imgContainer {
  position: relative;
  width: 500px;
  height: 250px;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  filter: brightness(60%);
  opacity: .8;
}

.evntAddFormCont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0px;
}

.eventAdderForm {
  position: relative;
  margin: 1em 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.75em;
  color: white;
  border-radius: 20px;
  background: #588abd;
  width: 50%;
  padding: .2em;
}

.eventAdderForm img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 35px;
  height: auto;
  filter: invert(100%);
}

.eventAdderForm input {
  font-size: 1em;
  width: 60%;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-bottom: .2em;
}

@media only screen and (max-width: 640px) {

  .countdownContainerGrid {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .countdownContainerGrid2 {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .countdownContainerGrid1 {
    flex-direction: column;
  }

  .eventContainer {
    width: 300px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 50px;
    box-shadow: 0px 0px 30px 5px grey;
  }
  
  .textContainer {
    margin: 0 auto;
    bottom: 250px;
    position: relative;
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);
    width: 300px;
    height: 250px;
    border-radius: 50px;
    overflow: hidden;
  }
  
  .textContainer img {
    transition: .1s;
    width: 30px; 
    height: auto;
    filter: invert(100%);
    position: absolute; 
    top: 8%;
    left: 10%;
    z-index: 1;
    cursor: pointer;
  }

  .textContainer img:hover {
    width: 33px;
    top: 7.5%;
    left: 9.7%;
  }
  
  .text {
    position: inline-block;
    width: 100%;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    line-height: .4;
    font-size: .75em;
    color: white;
  }

  .text h4 {
    font-size: 1.5em;
  }
  
  .imgContainer {
    margin: 0 auto;
    position: relative;
    width: 300px;
    height: 250px;
  }
  
  .imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    filter: brightness(60%);
    opacity: .8;
  }
}